$navyblue: #0A2463;
$lightblue: #63ADF2;
$blue: #247BA0;
$purple: #3423A6;
$green: #00CE83;
$yellow: #FFC71E;
$red: #F21F40;
$beige: #F8F5F9;
$white: #FBFEF9;
$teal: #1E839C;
$lightgrey: #E2E2E2;
$darkgrey: #605F5E;
$black: #050912;
