@import 'common/variables';

.introGridCell {
  width: 50%;
  height: 300px;
  position: relative;
  display: inline-block;
  margin: 0 0 -5px 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  &:hover {
    background-image: none !important;
    background-color: $black;
    img {
      max-width: 200px;
      transition: 1s;
    }
  }
}

.introGridWrap {
  top: 100%;
  position: absolute;
  width: 100%;
}

.logoHome {
  width: 100%;
  max-width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
